h1 {
    size: 10px;
}

body {
  margin: 0;
}

canvas { 
  padding: 0;
  margin: auto;
  display: block;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #303030;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #D3D3D3;
  display: block;
  transition: 0.3s;
}
.sidebar img {
  display: block;
  border-radius: 50%;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.main{
  margin-left: 250px;
  padding: 50px;
  text-decoration: none;
  font-size: 25px;
}

.main h1{
  font-size: 50px;
}

.main h2{
  font-size: 40px;
}

.main h3{
  font-size: 30px;
}

.main a{
  text-decoration: none;
  color: #555;
}

.main img{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .sidebar{
    padding-top: 20px;
    position: static;
    width: 100%;
    height: auto;
  }
  .main{
    margin-left: 0px;
    font-size: 20px;
    padding: 20px;
  }
  .main h1{
    font-size: 40px;
  }
  .main h2{
    font-size: 30px;
  }
  .main h3{
    font-size: 20px;
  }
  .main img{
    width: 80%;
  }
}
.project{
  text-decoration: underline;
}

.project a:hover{
  color: #505050;
}

hr.round {
  border-top: 2px solid #000000;   
  border-radius: 1px; 
}

.icon {
  padding: 3px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.navbar {
  text-align:center;
  overflow: hidden;
  background-color: #333;
  padding-top: 0px;
  margin: 0;
}
.navbar li{
  display: inline;
}

.navbar a {
  display: inline-block;
/*  float: left;*/
  font-size: calc(16px + 0.8vw);
  color: white;
  text-align: center;
  padding: 0.8vw 1.2vw;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 2.0vw;  
  border: none;
  outline: none;
  color: white;
  padding: 1.4vw 1.6vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  padding: 0.4vw 1.6vw;
  display: none;
  position: absolute;
  background-color: #353535;
  min-width: 4.0vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column{
  width: 50%;
  float: left;
  border: #000;
}

.bio{
  font-size: calc(12px+1.5vw);
  width: 60%;
  float: right;
  font-family: Arial, sans-serif;
  /*text-align: left;
  */
  padding: 1.0vw;
}

.bioimg{
  width:50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .bio{
    width: 90%;
    float: none;
    position: center;
  }
  .bioimg{
    width: 80%;
    float: none;
    position: center;
  }
}

.column img{
  padding: 1.0vw;
  width: 100%;
}

table.clean{
  margin-left: auto;
  margin-right: auto;    text-align: center;
  position: relative;
  border: 0;
  margin: auto;
  max-width: 600px;
}

.sidenav {
    width: 130px; 
    position: fixed; 
    z-index: 1; 
    top: 20px; 
    left: 10px; 
    background: #a88b6c; 
    overflow-x: hidden; 
    padding: 8px 0; 
}

.sidenav a { 
    padding: 6px 8px 6px 16px; 
    text-decoration: none; 
    font-size: 18px; 
    color: #000000; 
    display: block; 
}

.sidenav a:hover { 
    color: #333333; 
}

.topguide ul{
  list-style-type: none;   
  margin: 0;   
  padding: 0;
}
.topguide li{
  display: inline;
}

.topguide a{
  padding: 5px 5px 5px 5px;
  font-size: 18px;
  color: #000000;
  background: #a2ab98;
  text-decoration: none;
  border-radius: 4px;
}

body.dark-mode{
  background-image:  url("dark1.png");
  background-repeat: repeat -xy;
  color: white; 
}

a.dark-mode:hover{
  color: #424242;
}

body.light-mode{
  background-image:  url("light1.png");
  background-repeat: repeat -xy;
  color: black;
}
