<!doctype html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body class="light-mode">
    <div id="mySidebar" class="sidebar">
        <img src="/assets/images/photo_profile.jpg"></img>
        <a href="/#About">About</a>
        <a href="/#Projects">Projects</a>
        <a href="/#Research">Research</a>
        <a href="https://github.com/TaylorNunes"><img class="icon" src="/assets/images/logos/github_logo.png"></img></a>
        <a href="https://www.linkedin.com/in/taylor-nunes-090b35114/"><img class="icon"
            src="/assets/images/logos/linkedin_logo.png"></img></a>
        <a href="mailto:taylorcnunes@gmail.com"><img class="icon" src="/assets/images/logos/mail_logo.png"></img></a>
    </div>
    <div class="main">
        {{ content }}
    </div>
  </body>
</html>